<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>The Todo App</title>
</head>
<body>
    <h1>The Todo App</h1>

    <ul>
        <% for (todo of todos) { %>
            <li class="<%= todo.completed ? 'done' : null %>" ><%= todo.text %>
                <form action="/todo/<%= todo._id %>?_method=PUT" method="post">
                    <input type="submit" value="Task Complete" <%= todo.completed ? 'disabled' : null %>>
                </form>
            </li>

        <% } %>
    </ul>

    <h2>Add a Todo</h2>
    <form action="/todo" method="post">
        <input type="text" name="text" placeholder="todo goes here">
        <input type="submit" value="Create">
    </form>
</body>
</html>